<div id="marginTop">
  <div id="form">
    <% form_for(@list) do |f| %>

    <h3> <%= @recipe_name %> </h3>

    <%= f.error_messages %>

    <table>
      <tr>
        <td> <%= f.label :shop_it %> </td>
        <td> <%= f.check_box :shop_it %> </td>
      </tr>
      <tr>
        <td> <%= f.label :print_it %> </td>
        <td> <%= f.check_box :print_it %> </td>
      </tr>
      <tr>
        <td> <%= f.label :incl_prod %> </td>
        <td> <%= f.check_box :incl_prod %> </td>
      </tr>
      <tr>
        <td> <%= f.label :multiplier %> </td>
        <td> <%= f.text_field :multiplier, :size => 3 %> </td>
      </tr>
    </table>
    <%= f.hidden_field :owner %>
    <%= f.hidden_field :recipe_id %>
    <p>
      <%= f.submit 'Create' %>
    </p>
    <% end %>
    <br/>
    <hr/>
    <%= linkTo "Abbrechen", lists_path %>
  </div>
</div>
