<%= render :partial => 'shared/titles', :locals => {:tab => 'Dokumente', :page => nil} %>

<% if not @lists.empty? %>
<div id="marginTop">
<% form('Übersicht Liste', [], nil) do %>

    <% table ["Rezept", "Menge", "Einkaufen", "Produktion"] do %>
      <% @lists.each do |item| %>
        <% table_row(item, edit_list_path(item),
           alternating=true, show=true,
           edit=false, destroy=logged_in?) do %>
           <%  recipe = Recipe.find(item.recipe_id) %>

           <%= table_cell(link_to_remote recipe.name, 
             :url => { :controller => "Lists", :action => "edit", :id => item.id },
                       :update => { :success => "erg", :failure => "erg"},
                       :before => "$('erg').update('Laden...')",
                       :html => { :class => "link_ext" } ) %>

           <%= table_cell(item.multiplier)%>

           <% if item.shop_it == 1 %> 
             <% shop_it = "ja"%>
           <% else %>
             <% shop_it = "" %>
           <% end %>
           <%= table_cell(shop_it)%>

           <% if item.incl_prod == 1 %> 
             <% incl_prod = "ja"%>
           <% else %>
             <% incl_prod = "" %>
           <% end %>
           <%= table_cell(incl_prod)%>

        <% end %>
      <% end %> <!--end .each-->
    <% end %> <!--end table-->    
</div>
<% end %>
<% end %> <!--presentation_helper--> 

<div id="erg"></div> 
