<%= stylesheet_link_tag 'print', :media => :print %>
<div id="form">
  <br/>
  <h3>Einkaufsliste</h3>
  <br />
  <% if @shoppinglist.length > 0 %>
    <% @recipes.each do |recipe| %>
      <p><%= recipe.name  %></p>
    <% end %>
    <br />
    <table>
      <% for i in 1..@shoppinglist.length %>
        <% item = @shoppinglist.shift %>
        <tr>
          <td><%= item.ingred %></td>
          <td><%= item.amount %></td>
          <td><%= item.unit %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
