
<div id="form">

<% @lists.each do |item| %>
<div id="pagebrake">

  <% recipe = @recipes.pop %>
  <% ingred_list = recipe.ingredients %>
  <hr/>
  <br/>
  <h2><%=h recipe.name %></h2>
  <br/>
  <hr/>
  <br/>
  <h3>Zutaten</h3>
  <% if ingred_list.length > 0 %>
    <table>
      <% ingred_list.each do |item| %>
        <tr>
          <td><%= item.ingred.name %></td>
          <td><%= item.amount %></td>
          <td><%= item.unit %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <% if recipe.process != "" or recipe.process != nil %>
    <br/>
    <hr/>
    <br/>
    <h3>Zubereitung</h3>
    <br/>
    <%= recipe.process %>
  <% end %>
  <br/>
  <hr/>

</div>
<% end %>

</div>
