<p>
  <b>Owner:</b>
  <%= @list.owner %>
</p>

<p>
  <b>Recipe:</b>
  <%= @list.recipe_id %>
</p>

<p>
  <b>Shop it:</b>
  <%= @list.shop_it %>
</p>

<p>
  <b>Print it:</b>
  <%= @list.print_it %>
</p>

<p>
  <b>Incl Prod</b>
  <%= @list.incl_prod %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
