<br />
<div id="form">
<h2>Controls</h2>
<br />
<ul>
  <li><%= image_tag("Previous_16x16.png")%> Zurück</li>
  <li><%= image_tag("Edit_16x16.png")%> Bearbeiten</li>
  <li><%= image_tag("Cancel_16x16.png")%> Abbrechen</li>
  <li><%= image_tag("Temp_16x16.png")%> Zutaten</li>
  <li><%= image_tag("Settings_16x16.png")%> Zubereitung</li>
  <li><%= image_tag("Paste_16x16.png")%> Merken</li>
  <li><%= image_tag("Print_16x16.png")%> Drucken</li>
  <li><%= image_tag("Delete_16x16.png")%> Entfernen</li>
</ul>
</div> 
