<br />
<% form('Piktogramme', [], nil) do %>

<br />
<h3>Allgemein</h3>

<table width="40%" cellspacing="" cellpadding="" border="">
  <tr>
    <td></td>
    <td><%= image_tag("Add_16x16.png")%> </td>
    <td> Neu </td>
  </tr>  
  <tr>
    <td></td>
    <td><%= image_tag("Edit_16x16.png")%> </td>
    <td> Bearbeiten </td>
  </tr>
  <tr>
    <td></td>
    <td><%= image_tag("Delete_16x16.png")%> </td>
    <td> Entfernen </td>
  </tr>  

  <tr>
    <td></td>
    <td><%= image_tag("Cancel_16x16.png")%> </td>
    <td> Abbrechen </td>
  </tr>

  <tr>
    <td></td>
    <td><%= image_tag("Previous_16x16.png")%> </td>
    <td> Zurück </td>
  </tr>

  <tr>
    <td></td>
    <td><%= image_tag("Print_16x16.png")%> </td>
    <td> Drucken </td>
  </tr>
</table>


<br />
<h3>Rezept</h3>

<table width="40%" cellspacing="" cellpadding="" border="">
  <tr>
    <td></td>
    <td><%= image_tag("Temp_16x16.png")%> </td>
    <td> Zutat hinzufügen </td>
  </tr>
  <tr>
    <td></td>
    <td><%= image_tag("Settings_16x16.png")%> </td>
    <td> Zubereitung bearbeiten</td>
  </tr>
  <tr>
    <td></td>
    <td><%= image_tag("Paste_16x16.png")%> </td>
    <td> Rezept merken </td>
  </tr>
</table>

<% end %>


<% form('Menüpunkte', [], nil) do %>


<br />
<h3>sontiges</h3>

<table>
  <tr>
    <td><h4>Listen</h4></td>
    <td>Rezepte speichern, <br /> Rezepte drucken, <br /> Einkaufsliste drucken</td>
  </tr>
  <tr>
    <td><h4>Backup</h4></td>
    <td>Datenbank speichern</td>
  </tr>
</table>

<% end %>
