<br />
<% form('Hilfe', [], nil) do %>

<h2>Piktogramme</h2>

<br />
<h3>Allgemein</h3>

<table width="40%" cellspacing="" cellpadding="" border="">
  <tr>
    <td></td>
    <td><%= image_tag("Add_16x16.png")%> </td>
    <td> Neu </td>
  </tr>  
  <tr>
    <td></td>
    <td><%= image_tag("Edit_16x16.png")%> </td>
    <td> Bearbeiten </td>
  </tr>
  <tr>
    <td></td>
    <td><%= image_tag("Delete_16x16.png")%> </td>
    <td> Entfernen </td>
  </tr>  

  <tr>
    <td></td>
    <td><%= image_tag("Cancel_16x16.png")%> </td>
    <td> Abbrechen </td>
  </tr>

  <tr>
    <td></td>
    <td><%= image_tag("Previous_16x16.png")%> </td>
    <td> Zurück </td>
  </tr>

  <tr>
    <td></td>
    <td><%= image_tag("Print_16x16.png")%> </td>
    <td> Drucken </td>
  </tr>
</table>


<br />
<h3>Rezept</h3>

<table width="40%" cellspacing="" cellpadding="" border="">
  <tr>
    <td></td>
    <td><%= image_tag("Temp_16x16.png")%> </td>
    <td> Zutat hinzufügen </td>
  </tr>
  <tr>
    <td></td>
    <td><%= image_tag("Settings_16x16.png")%> </td>
    <td> Zubereitung bearbeiten</td>
  </tr>
  <tr>
    <td></td>
    <td><%= image_tag("Paste_16x16.png")%> </td>
    <td> Rezept merken </td>
  </tr>
</table>



<table width="40%" cellspacing="" cellpadding="" border="">
  




</table> 

<% end %>
