<br />
<% form('Anmeldung', [], nil) do %> 
  <% form_tag session_path do -%>
  <table>
    <tr>
      <td><%= label_tag 'login' %></td>
      <td><%= text_field_tag 'login', @login %></td>
    <tr>
      <td><%= label_tag 'password' %></td>
      <td><%= password_field_tag 'password', nil %></td>
    </tr>
  </table>
<!-- Uncomment this if you want this functionality
<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->
    <p><%= submit_tag 'OK' %></p>
  <% end -%>
<% end -%>
