<%= render :partial => "shared/titles", :locals => {:tab => "rrm::Quellen", :page => "Quellen::index" }%>
<div id="form">
  <p>
    <b>Quelle:</b>
    <%=h @source.name %>
  </p>
  <% if @recipes.length > 0 %>
    <%= render :partial => "shared/list_recipes" %>
  <% end %>
  <%= link_to 'Zurück', sources_path, :class => "link_ext" %>
  <% if admin? %>
    | <%= link_to 'Bearbeiten', edit_source_path(@source), :class => "link_ext" %>
  <% end %>
</div> <!--id=form-->
