<%= render :partial => "shared/titles", :locals => {:tab => "rrm::Quellen", :page => "Quellen::index" }%>
<%form('Quelle', ["#{imageLinkTo 'Edit_16x16.png', edit_source_path(@source), 'Quelle bearbeiten', false if logged_in?}",
                  "#{imageLinkTo 'Previous_16x16.png', sources_path, 'Zurück zur Übersicht', false}"], nil) do%>
  <h1><%= @source.name %></h1>

  <% if @recipes.length > 0 %>
    <%= render :partial => "shared/list_recipes" %>
  <% end %>
  <%= link_to 'Zurück', sources_path, :class => "link_ext" %>
  <% if admin? %>
    | <%= link_to 'Bearbeiten', edit_source_path(@source), :class => "link_ext" %>
  <% end %>

<% end %> <!--form_helper-->
