<%= render :partial => "shared/titles", :locals => {:tab => "rrm! ingredtypes (new/edit)", :page => "" }%>
<% form('Neu/Bearbeiten', ["#{imageLinkTo 'Previous_16x16.png', ingredtypes_path, 'Zurück zur Übersicht', false}"], nil) do%>

  <h2>Kategorie</h2>
  <% form_for(@ingredtype) do |f| %>
    <%= f.error_messages %>
    <table>
      <tr>
        <td><%= f.label :name %><td>
        <td><%= f.text_field :name %><td>
      <tr>
    </table>
    <%= f.submit 'OK' %>
  <% end %>

<% end %>
