<%= render :partial => "shared/titles", :locals => {:tab => "rrm! ingredtypes (new/edit)", :page => "" }%>

<div id="form">
  <h2>Kategorie</h2>
  <% form_for(@ingredtype) do |f| %>
    <%= f.error_messages %>
    <table>
      <tr>
        <td><%= f.label :name %><td>
        <td><%= f.text_field :name %><td>
          <tr>
    </table>
    <%= f.submit 'Create' %>
  <% end %>
  <br />
  <hr>
  <%= link_to 'Zurück', ingredtypes_path, :class => "link_ext" %>
<div/>
