<%= render :partial => "shared/titles",
           :locals => {:tab => "rrm::Kategorien",
           :page => ""}%>

<div id="form">
  <h2>Kategorien (<%= @ingredtypes.length %>)</h2>




  <% table ["Bezeichnung", "Rezepte"] do %>
    <% @ingreds.each do |ingred| %>
      <% recipes_count = ingred.find_recipes(ingred.id).length %>
      <% table_row(ingred, edit_ingred_path(ingred), alternating=true, show=false, edit=logged_in?, destroy=(recipes_count == 0)) do %>
        <%= table_cell(linkTo ingred.name, ingred) %>
        <%= table_cell(recipes_count) %>
      <% end %>
    <% end %> <!--end .each-->
  <% end %> <!--end table-->


  <table>
    <tr>
      <th>Bezeichnung</th>
      <th>Anzahl</th>
    </tr>
    <% @ingredtypes.each do |ingredtype| %>
    <tr class="<%= cycle("odd", "even") %>">
       <td><%= my_link_to_path("#{ingredtype.name}", ingredtype) %></td>
      <td><%=h ingredtype.ingreds.length %></td>

      <% if logged_in? %>
        <td class="td1"> <%= img_link_to_edit(edit_ingredtype_path( ingredtype )) %> </td>
        <% if ingredtype.ingreds.count == 0 %>
           <td class="td1"><%= img_link_to_drop( ingredtype ) %></td>
        <% end %>
      <% end %>
    </tr>
    <% end %>
  </table>
<div />

