<%= render :partial => "shared/titles",
           :locals => {:tab => "rrm::ingredtypes",
           :page => ""}%>

<div id="form">
  <p>
    <h2><%=h @ingredtype.name %></h2>
  </p>

  <% table ["Bezeichnung", "Rezepte"] do %>
  <% @ingreds.each do |ingred| %>
    <% recipes_count = ingred.find_recipes(ingred.id).length %>
    <%= table_row(ingred, edit_ingred_path(ingred),
        alternate=true, show=false, edit=logged_in?, destroy=(recipes_count == 0),
        ["#{linkTo ingred.name, ingred}",
         "#{recipes_count}"]) %>
    <% end %>
  <% end %>

  <br />
  <hr>
  <%= link_to 'Kategorien', ingredtypes_path, :class => "link_ext" %> |
  <%= link_to 'Bearbeiten', edit_ingredtype_path(@ingredtype), :class => "link_ext" %>
</div>
