<%= render :partial => "shared/titles",
           :locals => {:tab => "rrm::Posten",
                       :page => ""} %>
<div id="form">
 <h2>Posten</h2>



  <table>
    <tr>
      <th>Bezeichung</th>
      <th>Rezepte</th>
    </tr>
    <% @stations.each do |station| %>
    <tr class="<%= cycle("odd", "even") %>">
      <td><%= my_link_to_path("#{station.name}", station) %></td>
      <td><%=h station.recipes.count %></td>
      <% if logged_in? %>
        <td class="td1"> <%= img_link_to_edit(edit_source_path( station )) %> </td>
        <td class="td1"><%= img_link_to_drop( station ) %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
  <% if logged_in? %>
    <%= button_to 'Neu', new_station_path %>
  <% end %>
<div/>
