<%= stylesheet_link_tag 'print', :media => :print %>

<div id="form">
  <h1><%= "#{@station.name} (#{@recipes.length})" %></h1>
  <hr /><hr />

  <br />
  <h2>Inhalt*</h2>
    
  <table width="" cellspacing="0" cellpadding="0" border-width="0">    
    <% for i in 0..@rows %>
    <tr>
      <% if i < @recipes.length %>
         <td width="200px"> <%= @recipes.at(i).name%>         </td>
         <td width="50px">  <%= i+@first %>                   </td>
      <% end %>
      <% if i+@second < @recipes.length %>
         <td width="200px"> <%= @recipes.at(i+@second).name%> </td>
         <td width="60px">  <%= i+@second %>                  </td>
      <% end %>
      <% if i+@third < @recipes.length %>
         <td width="200px"> <%= @recipes.at(i+@third).name %> </td>
         <td width="30px">  <%= i+@third %>                   </td>
      <% end %>   
    </tr>
    <% end %>
  </table>
  
  <div id="pagebrake"></div></div> <!--pagebrake-->

  <% @recipes.each do |item| %>
  <div id="pagebrake">
   
    <br />
    <h2><%= item.name %></h2>
    <hr />
    <br />

    <% ingred_list = item.get_ingreds %>    
    <% if ingred_list.length > 0 %>
    <h3>Zutaten</h3>
    <table>
      <% for i in 1..ingred_list.length %>
      <% list_item = ingred_list.shift %>
      <tr>
        <td><%= list_item.ingred %></td>
        <td><%= list_item.amount %></td>
        <td><%= list_item.unit %></td>
      </tr>
      <% end %>
    </table>
    <% end %>
  
    <% if item.process.to_s != "" or item.process != nil %>
      <br />
      <hr />
      <br />
      <h3>Zubereitung</h3>    
      <br />
      <%= item.process %>
    <% end %>
    <br />
    <hr/>

  </div> <!--pagebreak-->
 
  <% end %> <!--@lists.each-->

</div> <!--form-->

