<%= stylesheet_link_tag 'print', :media => :print %>
<div id="form">
  <h1><%= "#{@station.name} (#{@lists.length})" %></h1>
  <hr /><hr />
  <div id="pagebrake"></div>
  <% @lists.each do |item| %>
  <div id="pagebrake">
   
    <br />
    <h2><%= item.name %></h2>
    <hr />
    <br />

    <h3>Zutaten</h3>
    <% ingred_list = item.get_ingreds %>
    <% if ingred_list.length > 0 %>
    <table>
      <% for i in 1..ingred_list.length %>
      <% list_item = ingred_list.shift %>
      <tr>
        <td><%= list_item.ingred %></td>
        <td><%= list_item.amount %></td>
        <td><%= list_item.unit %></td>
      </tr>
      <% end %>
    </table>
    <% end %>
    <% if item.process != "" or item.process != nil %>
      <br />
      <hr />
      <br />
      <h3>Zubereitung</h3>    
      <br />
      <%= item.process %>
    <% end %>
    <br />
    <hr/>

  </div> <!--pagebreak-->
 
  <% end %> <!--@lists.each-->

</div> <!--form-->
