<%= render :partial => "shared/titles", :locals => {:tab => "rrm::Posten", :page => "Posten::Details" }%>
<%= stylesheet_link_tag 'pagination' %>
<div id="form">
 
  <p>
    <b>Posten:</b>
    <%=h @station.name %>
  </p>
  <p>
    <b>Rezepte:</b>
    <%=h @station.recipes.count %>
  </p>
  <% if @recipes.length > 0 %>
  <%= render :partial => "shared/list_recipes" %>
  <% end %>
  <div id="floatRight">
    <div class="my_pagination">
      <%= will_paginate @recipes, :page_links => true %>      
    </div>
  </div>  
  <br />
  <br />
  <hr>
  <div id="form-bottom-menu">
    <%= imageLinkTo "Previous_16x16.png", stations_path, "Übersicht Posten" %>
    <% if logged_in? %>
      <%= imageLinkTo "Edit_16x16.png", edit_station_path(@station), "Posten bearbeiten" %>
      <div id="floatRight">
        <%= imageLinkTo "Print_16x16.png", {:action => "print", :id => @station.id}, "Posten drucken", true %>
      </div>
    <% end %>
  <div/> 
<div/>
