<%= render :partial => "shared/titles", :locals => {:tab => "rrm::Posten", :page => "Posten::Details" }%>
<%= stylesheet_link_tag 'pagination' %>

<% form('Posten', [
   "#{imageLinkTo 'Print_16x16.png', {:action => 'print', :id => @station.id}, 'Posten drucken', true if logged_in?}",
   "#{imageLinkTo 'Edit_16x16.png', edit_station_path(@station), 'Posten Bearbeiten', true if logged_in?}", 
   "#{imageLinkTo 'Previous_16x16.png', stations_path, 'Zurück zur Übersicht'}"], nil) do %>

  <p>
    <h1> <%= @station.name %> </h1>
  </p>
  <br />
  <p>
    Rezepte: <b> <%= @station.recipes.count %> </b>
  </p>
  <% if @recipes.length > 0 %>
    <%= render :partial => "shared/list_recipes" %>
  <% end %>
  <div id="floatRight">
    <div class="my_pagination">
      <%= will_paginate @recipes, :page_links => true %>      
    </div>
  </div>  
  <br />
  <br />

<% end %>

