<h3>Zutaten</h3>

<% if @ingredients.length > 0 %>
  
  <% table ["Bezeichnung", "Menge", "Einheit", "Info"] do %>
    <% @ingredients.each do |ingredient| %>

      <% ingred_recipe = ingredient.ingred.recipe %>
      <% table_row(ingredient, edit_ingredient_path(ingredient), true, false, logged_in?, logged_in?, true) do %>
        <% if ingred_recipe == nil and logged_in? %>          
          <%= table_cell(linkToRemote ingredient.name, edit_ingredient_path(ingredient), 'erg') %></td>
        <% else %>
          <%= table_cell(link_to_new_tab ingredient.name, ingred_recipe) %></td>
        <% end %>
        <%= table_cell(ingredient.amount) %>
        <%= table_cell(ingredient.unit) %>
        <%= table_cell(ingredient.info) %>
      <% end %> <!--table_row-->
    <% end %> <!--end .for-->
  <% end %> <!--end table-->
  
<%end%>

<% if @ingred_list.length > 0 %>

  <% table ["Bezeichnung", "Menge", "Einheit"] do %>
    <% for i in 1..@ingred_list.length %>
      <% item = @ingred_list.shift %>
      <% ingred_recipe = Ingred.find(item.id).recipe %>
      <% table_row(item.ingred_obj, edit_ingred_path(item.ingred_obj), alternating=true, false, false, false) do %>
        <% if ingred_recipe == nil %>
          <%= table_cell(linkTo item.ingred, item.ingred_obj) %></td>
        <% else %>
          <%= table_cell(link_to_new_tab item.ingred, ingred_recipe) %></td>
        <% end %>
        <%= table_cell(item.amount) %>
        <%= table_cell(item.unit) %>
      <% end %> <!--table_row-->
    <% end %> <!--end .for-->
  <% end %> <!--end table-->
<% end %>
