<%= render :partial => "shared/titles",
           :locals => {:tab => "rrm::Rezept",
           :page => "Rezept::Zubereitung"} %>

<div id="erg">

<%= render :partial => 'recipe', :locals => {:show_all_controls => false, :show_process => false} %>
  
<% form('Zubereitung', [], nil) do %>
  <% form_for @recipe, :url => {:action => "save_process", :id => @recipe.id} do |f| %>
    <%= f.error_messages %>
    <h3><%= f.label @recipe.name %></h3>
    <br />
    <%= f.tinymce :process %>
    <br />
    <%= submit_tag "Speichern", :onclick => 'javascript:tinyMCE.triggerSave(true,true);' %>
  <% end %>
<% end %>

</div>
