<%= render :partial => "shared/titles", :locals => {:tab => "rrm! Rezept (new/edit)", :page => "" }%>
<% form('Bearbeiten', ["#{imageLinkTo 'Cancel_16x16.png', recipe_path(@recipe), 'Abbrechen', false}"], nil) do%>
  
<% form_for(@recipe) do |f| %>
  <%= f.error_messages %>
  
<% if  @ingred_list != nil and @ingred_list.length > 0 %>
  <br />
  <h3>Zutaten</h3>
<table>
  <tr>
    <th>Bezeichnung</th>
    <th>Menge</th>
    <th>Einheit</th>
  </tr>
  <% for i in 1..@ingred_list.length %>
    <% item = @ingred_list.shift %>
    <tr>
      <td><%= f.collection_select :"ingred#{i}",
              Ingred.find_all, :id, :name %>
      </td>
      <td><%= f.text_field :"amount#{i}", :size => "6" %></td>
      <td><%= f.collection_select :"unit#{i}",
              Unit.find_all, :id, :name %>
      </td>
    </tr>
  <% end %>
</table>

  <p>
    <%= f.submit 'Speichern' %>
  </p>
<% else %>
  <b>deprecated</b>
<% end %>
<% end %> <!--form_for-->

<% end %> <!--form_helper-->
