<%= render :partial => "shared/titles", :locals => {:tab => "Rezept anlegen", :page => nil }%>
<% form('Neu', ["#{imageLinkTo 'Cancel_16x16.png', recipes_path, 'Abbrechen', false}"], nil) do%>

<h2>Rezept</h2>
<% form_for(@recipe) do |f| %>
  <%= f.error_messages %>
  <table>
    <tr>
      <td>Name</td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td>Posten</td>
      <td><%= f.collection_select :station_id,
              Station.find_all, :id, :name %>
      </td>
    </tr>
    <tr>
      <td>Quelle</td>
      <td><%= f.collection_select :source_id,
              Source.find_all, :id, :name %>
      </td>
    </tr>
  </table>

  <p>
    <%= f.submit 'Speichern' %>
  </p>
<% end %> <!--form_for-->

<% end %> <!--form_helper-->


