<%= render :partial => "shared/titles",
           :locals => {:tab => "Rezept: #{@recipe.name}", :page => ""}%>

<div id="search_left">
<div id="form">
  <p>
    <b>Name:</b>
    <%= @recipe.name %>
  </p>
  <p>
    <b>Posten:</b>
    <%= my_link_to_path( "#{@recipe.station_name}", @recipe.station ) %>
  </p>
  <p>
    <b>Quelle:</b>
    <%= my_link_to_path( "#{@recipe.source_name}", @recipe.source ) %>
  </p>

  <br />
  <hr />
  <br />

<div id="ingreds">
  <%= render :partial => "ingreds" %>
</div>
    <b>Faktor:</b>

    <%= text_field_tag :factor_input, "" %>

    <%= observe_field :factor_input, :url=>{ :action => :multiply, :id => @recipe.id },
      :frequency => 0.1,
      :update => "ingreds",
      :with => 'input' %>
  <br />
  <br />
  <hr />
<% if @recipe.process.to_s != "" %>
  <br />
  <h3>Zubereitung</h3>
  <br />
  <%= @recipe.process %>
  <br />
  <hr>
<% end %>
<div id="form_bottom_menu">
  <%= imageLinkTo "Previous_16x16.png", recipes_path, "Zurück zur Übersicht" %>
  <% if logged_in? %>
    <%= link_to_edit edit_recipe_path(@recipe) %>
    <%= imageLinkToRemote "Temp_16x16.png", {:action => "add_ingred", :id => @recipe.id}, "erg" %>
    <%= imageLinkTo "Settings_16x16.png", {:action => "add_process", :id => @recipe.id}, "Zubereitung" %>
  <% end %>
  <%= imageLinkTo "Print_16x16.png", {:action => "print", :id => @recipe.id}, "Druckansicht", true %>
  <%= remote_add_to_list(@recipe, "erg") %>
</div>

</div>
</div>


<div id="erg">

</div>

