<%= render :partial => "shared/titles",
           :locals => {:tab => "rrm::Rezepte",
                       :page => "Rezept::Details"}%>
<div id="form">
  <%=@count%>
  <p>
    <b>Name:</b>
    <%=h @recipe.name %>
  </p>

  <p>
    <b>Posten:</b>
    <%=h @recipe.station_name %>
  </p>

  <p>
    <b>Quelle:</b>
    <%=h @recipe.source_name %>
  </p>

  <br />
  <hr>
  <%= link_to 'Zurück', recipes_path %>
  <% if admin? %>
    |
    <%= link_to 'Bearbeiten', edit_recipe_path(@recipe) %> |
    <%= link_to 'Zutaten', :action => "add_ingred", :id => @recipe.id %> |
    <%= link_to 'Zubereitung', :action => "add_process", :id => @recipe.id %>
  <% end %>
</div>

<div id="form_right">
<div id="form">
  <h3>Zutaten</h3>
  <% if @ingred_list.length > 0 %>
    <br />
    <table>
      <tr>
        <th>Bezeichnung</th>
        <th>Menge</th>
        <th>Einheit</th>
      </tr>
      <% for i in 1..@ingred_list.length %>
        <% item = @ingred_list.shift %>
        <tr>
          <td><%= item.ingred %></td>
          <td><%= item.amount %></td>
          <td><%= item.unit %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>

<div id="form">
  <h3>Zubereitung</h3>
  <br />
  <%= @recipe.process %>
</div>
</div>
