<%= render :partial => "shared/titles", :locals => {:tab => "rrm! Zutaten", :page => "" } %>

<% form('Neu/Bearbeiten', ["#{imageLinkTo 'Previous_16x16.png', ingreds_path, 'Zurück zur Übersicht', false}"], nil) do%>
  <h2>Zutat</h2>
  <% form_for(@ingred) do |f| %>
    <%= f.error_messages %>
    <table>
      <tr>
        <td><%= f.label :name %></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td><%= f.label :ingredtype_id %></td>
        <td><%= f.collection_select :ingredtype_id,
                Ingredtype.all, :id, :name %></td>
      </tr>
      <tr>
        <td><%= f.label :unit_id %></td>
        <td><%= f.collection_select :unit_id,
                Unit.all, :id, :name %></td>
      </tr>
    </table>
    <%= f.submit 'Ok' %>
  <% end %>
<% end %>
