<br />
<b> <%= @search %> </b> (<%= @ingreds.length %>)
<% if @ingreds.length > 0 %>
<table>
    <tr>
      <th>Bezeichnung</th>
      <th>Kategorie</th>
      <th>Rezepte</th>
    </tr>
    <% @ingreds.each do |ingred| %>
    <tr class="<%= cycle("odd", "even") %>">
      <td><%= my_link_to_path("#{ingred.name}", ingred) %></td>
      <td><%= my_link_to_path("#{ingred.ingredtype.name}", ingred.ingredtype) %></td>
      <% recipes_count = ingred.find_recipes(ingred.id).length %>
      <td><%=h ingred.find_recipes(ingred.id).length %></td>

      <% if logged_in? %>
        <td class="td1"> <%= img_link_to_edit(edit_ingred_path( ingred )) %> </td>
        <td class="td1">
          <% if recipes_count == 0 %>
            <%= img_link_to_drop ingred %>
          <% end %>
        </td>
      <% end %>

    </tr>
    <% end %>
  </table>

<% end %>
