<%= render :partial => "shared/titles",
           :locals => {:tab => "Zutaten",
                       :page => ""} %>
<div id="form">
   <table>
    <tr>
      <td> Bezeichnung: </td>
      <% if @ingred.recipe == nil %>
        <td> <b><%=h @ingred.name %></b> </td>
      <% else %>
        <td><%= my_link_to_path "#{@ingred.name}", @ingred.recipe %></td>
      <% end %>
    </tr>
    <tr>
      <td> Kategorie: </td>
      <td> <b><%=h my_link_to_path( "#{@ingred.ingredtype_name}", @ingred.ingredtype )  %></b> </td>
    </tr>
    <tr>
      <td> Rezepte: </td>
      <td> <%= @recipes.length %> </td>
    </tr>
  </table>
  <% if @recipes.length > 0 %>
    <%= render :partial => "shared/list_recipes" %>
  <% end %>

<br />
<hr>
<%= link_to 'Zutaten', ingreds_path, :class => "link_ext" %> |
<%= link_to 'Bearbeiten', edit_ingred_path(@ingred), :class => "link_ext" %>
<div/>
