<%= render :partial => "shared/titles",
           :locals => {:tab => "rrm#recipes::search",
                       :page => "rrm#recipes::serch"}%>

<hr/>
<br/>

<div id="form">
  <% if @recipes.length > 0 %>
    <h3><%= @search %> <%= "(#{@recipes.length})" %> </h3>
    <table>
      <tr>
        <th>Name</th>
        <th>Station</th>
        <th>Source</th>
      </tr>

      <% @recipes.each do |recipe| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= my_link_to_path("#{recipe.name}", recipe) %></td>
        <td><%= my_link_to_path("#{recipe.station.name}", recipe.station) %></td>
        <td><%= my_link_to_path("#{recipe.source.name}", recipe.source) %></td>
        <% if logged_in? %>
        <td>
          <%= img_link_to_edit edit_recipe_path(recipe) %>
          <%= img_link_to_drop recipe %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </table>
  <% end %>


  <% if @recipes_rest.length > 0 %>
    <h3><%= "#{@search}" %> <%= "(#{@recipes_rest.length})" %> </h3>
    <table>
      <tr>
        <th>Name</th>
        <th>Station</th>
        <th>Source</th>
      </tr>
      <% @recipes_rest.each do |recipe| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= my_link_to_path("#{recipe.name}", recipe) %></td>
        <td><%= my_link_to_path("#{recipe.station.name}", recipe.station) %></td>
        <td><%= my_link_to_path("#{recipe.source.name}", recipe.source) %></td>
        <% if logged_in? %>
        <td>
          <%= img_link_to_edit edit_recipe_path(recipe) %>
          <%= img_link_to_drop recipe %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </table>
  <% end %>


  <% if @recipes_contains.length > 0 %>
    <h3><%= "#{@search}" %> <%= "(#{@recipes_contains.length})" %> </h3>
    <table>
      <tr>
        <th>Name</th>
        <th>Station</th>
        <th>Source</th>
      </tr>
      <% @recipes_contains.each do |recipe| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= my_link_to_path("#{recipe.name}", recipe) %></td>
        <td><%= my_link_to_path("#{recipe.station.name}", recipe.station) %></td>
        <td><%= my_link_to_path("#{recipe.source.name}", recipe.source) %></td>
        <% if logged_in? %>
        <td>
          <%= img_link_to_edit edit_recipe_path(recipe) %>
          <%= img_link_to_drop recipe %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </table>
  <% end %>

<div/><!--div/form-->
