<%= render :partial => "shared/titles",
           :locals => {:tab => "rrm#recipes::search",
                       :page => "rrm#recipes::serch"}%>

  <% if @recipes.length > 0 %>
    <h3><%= @search %> <%= "(#{@recipes.length})" %> </h3>
    <%= render :partial => "shared/list_recipes" %>
  <% end %> <!--end recipes--> 


  <% if @recipes_rest.length > 0 %>
    <h3><%= "#{@search}" %> <%= "(#{@recipes_rest.length})" %> </h3>
    <% table ["Rezept", "Posten", "Quelle"] do %>
      <% @recipes_rest.each do |recipe| %>
        <% table_row(recipe, edit_recipe_path(recipe), alternating=true, show=false, edit=logged_in?, destroy=logged_in?) do %>
          <%= table_cell linkTo(recipe.name, recipe, "#{recipe.station.name}, #{recipe.source.name}") %>
          <%= table_cell linkTo(recipe.station.name, recipe.station) %>
          <%= table_cell linkTo(recipe.source.name, recipe.source) %>
        <% end %>
      <% end %> <!--end .each-->
    <% end %> <!--end table-->
  <% end %> <!--end recipes_rest--> 


  <% if @recipes_contains.length > 0 %>
    <h3><%= "#{@search}" %> <%= "(#{@recipes_contains.length})" %> </h3>
    <% table ["Rezept", "Posten", "Quelle"] do %>
      <% @recipes_contains.each do |recipe| %>
        <% table_row(recipe, edit_recipe_path(recipe), alternating=true, show=false, edit=logged_in?, destroy=logged_in?) do %>
          <%= table_cell linkTo(recipe.name, recipe, "#{recipe.station.name}, #{recipe.source.name}") %>
          <%= table_cell linkTo(recipe.station.name, recipe.station) %>
          <%= table_cell linkTo(recipe.source.name, recipe.source) %>
        <% end %>
      <% end %> <!--end .each-->
    <% end %> <!--end table-->
  <% end %> <!--end recipes_contains--> 
